$gray : #d3d3d3;
$yellow: #ffff00;

#showResult {
  background-color: $gray;
}

#resultDiv {
  display: none;
}

.sortBy {
  color: $yellow;
}

#map {
  height: 600px;
  width: 100%;
}

.otherStats {
  list-style: none;
}

.selected {
  font-weight: bold;
}

.cityName {
  font-size: 1.5em;
}
